<template lang='pug'>
.main
  .header
    .input_area
      .input_text 選擇欄位
      select.input(v-model="selected")
        option(v-for="col in selectColumn" :value="col") {{col}}
  .container
    .col
      div One(.xlsx)
      input(type='file' ref="file0" @change="getXlsxData(0)")
      .input_area
        select.input(v-if='sheetNames[0].length' v-model="sheetSelect[0]")
          option(v-for="name in sheetNames[0]") {{name}}
      br
      div output
      ul
        li(v-for="data in xlsxData[0]") {{data}}
    .col
      div Two(.xlsx)
      input(type='file' ref="file1" @change="getXlsxData(1)")
      .input_area
        select.input(v-if='sheetNames[1].length' v-model="sheetSelect[1]")
          option(v-for="name in sheetNames[1]") {{name}}
      br
      div output
      ul
        li(v-for="data in xlsxData[1]") {{data}}
    .col
      div 比較One之於Two有缺少哪些
      button(@click='compare') compare
      ul
        li(v-for="(value, index) of compareData" :key="value.value")
          input(:value="value.value" @click="copy($event, index)" readonly)
          span(v-if="value.isCopy") copyed
</template>

<script>
import XLSX from 'xlsx'
export default {
  name: 'app',
  data () {
    return {
      xlsxData: [ [], [] ],
      compareData: [],
      selected: 'B',
      selectColumn: ['A', 'B', 'C', 'D', 'E', 'F'],
      sheetNames: [ [], [] ],
      sheetSelect: ['All', 'All'],
      excelData: []
    }
  },
  watch: {
    'selected' () {
      this.sortData(this.excelData, 0)
      this.sortData(this.excelData, 1)
    },
    'sheetSelect' () {
      this.sortData(this.excelData, 0)
      this.sortData(this.excelData, 1)
    }
  },
  methods: {
    async getXlsxData (number) {
      const excelData = await this.convertExcel(this.$refs[`file${number}`].files[0])
      this.excelData[number] = excelData
      this.getSheetNames(excelData, number)
      this.sortData(excelData, number)
    },
    getSheetNames (excelData, target) {
      let sheetNames = ['All']
      for (const sheetName in this.excelData[target]) sheetNames.push(sheetName)
      this.$set(this.sheetNames, target, [...sheetNames])
    },
    sortData (excelData, target) {
      this.xlsxData[target] = []
      console.log(this.sheetSelect[target])
      const data = this.excelData[target]
      if (this.sheetSelect[target] === 'All') {
        for (const sheetName in data) {
          for (const key in data[sheetName]) {
            if (key[0] === this.selected) this.xlsxData[target].push(data[sheetName][key].v)
          }
          this.xlsxData[target].sort()
          this.xlsxData[target] = this.xlsxData[target].filter(
            (value, index, array) => value !== array[index + 1] && value
          )
        }
      } else {
        for (const key in data[this.sheetSelect[target]]) {
          if (key[0] === this.selected) this.xlsxData[target].push(data[this.sheetSelect[target]][key].v)
        }
        this.xlsxData[target].sort()
        this.xlsxData[target] = this.xlsxData[target].filter(
          (value, index, array) => value !== array[index + 1] && value
        )
      }
    },
    convertExcel (file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.onload = async evt => {
          const data = evt.target.result
          const workbook = XLSX.read(data, { type: 'binary' })
          resolve(workbook.Sheets)
        }
        reader.readAsBinaryString(file)
      })
    },
    compare () {
      this.compareData = []
      if (!this.xlsxData[0].length || !this.xlsxData[1].length) return
      let file = this.xlsxData[0]
      let fileAno = this.xlsxData[1]
      for (let i = 0; i < file.length; i++) {
        const value = file[i]
        const same = fileAno.find(anoValue => anoValue === value)
        if (!same) this.compareData.push({ value: `${value}`, isCopy: false })
      }
    },
    copy (e, index) {
      for (const node of this.compareData) {
        node.isCopy = false
      }
      this.compareData[index].isCopy = true
      e.target.setSelectionRange(0, 99999)
      document.execCommand('copy')
    }
  }
}
</script>

<style lang="scss">
body {
  background-color: #222;
}
.container {
  display: flex;
  color: #eee;
}

.col {
  overflow: hidden;
  width: 400px;
}
.header{
  margin-bottom: 30px;
}
.input {
  -webkit-appearance: none;
  box-sizing: border-box;
  min-width: 100%;
  padding: 4px 10px;
  border-radius: 3px;
  color: #000;
}
.input_text{
  color: #fff;
  margin-bottom: 10px;
}
.input_area {
  width: 200px;
  min-width: 150px;
}
</style>
